export(SPR_Setting)
export(Maze_Setting)
export(Judgement_Setting)
export(SPR)
export(Maze)
export(Judgement)
export(SPRExp)
export(SPRFiller)
export(MazeExp)
export(MazeFiller)
export(JudgementExp)
export(JudgementFiller)
export(all_na)
export(quote_string)
export(quote_string2)
export(move_NAs_to_end)
